.App {
  text-align: left;
}
h2{
  text-align: center;
}
.container{
  width: fit-content;
  margin: 50px auto;
  border: 3px solid gray;
  padding: 30px;
  border-radius: 5px;
  background-color: lightcyan;
}
input{
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: block;
  width: 350px;
  margin-top: 10px;
}
button{
  width: 200px;
  padding: 8px;
  background-color: yellow;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 5px #888888;
  font-size: 16px;
  border-radius: 5px;
}
form{
  display: block;
  width: fit-content;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
